@model WukkaMan_Interface.Models.ViewModel.TaskVM

@{
    ViewData["Title"] = "Create";
}


<center><h3>Select Employee Task</h3></center>
<hr />

<div class="container row-cols-md-3  d-flex justify-content-center align-items-center ">

    <form asp-action="Create" class="Razor-Form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @*<div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@


        <div class="form-group">
            <label asp-for="EmployeeId" class="control-label"></label>
            <select asp-for="SelectedEployeeId" class="form-control" asp-items="@Model.EmployeeList">
                <option disabled selected> -- Select Employee Name -- </option>
            </select>
            <span asp-validation-for="SelectedEployeeId" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="TaskId" class="control-label"></label>
            <select asp-for="SelectedTaskId" class="form-control" asp-items="@Model.TaskList">
                <option disabled selected> -- Select Task  For Employee-- </option>
            </select>
            <span asp-validation-for="SelectedTaskId" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="isCompleted" /> @Html.DisplayNameFor(model => model.isCompleted)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="AssigmentDate" class="control-label"></label>
            <input asp-for="AssigmentDate" class="form-control" />
            <span asp-validation-for="AssigmentDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div> <!------------>




<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
