

@{
    ViewData["Title"] = "Home Page";
}






<div><!--Text-->

        <div class="HomeTexBox">
            <h2 class="HomeBigText">Wukka Man Cleaning</h2
        </div>
</div><!---->

<center>
    

</center>


<div class="AllButtons">

    <div class="">
        <a class="btn btn-success" href="#About" role="button">About Us</a>
    </div>

    <div class="">
        <a class="btn btn-success" href="#Services" role="button">Services Offerd</a>
    </div>


    <div class="">
        <a class="btn btn-primary" href="/Login/Login" role="button">Employees</a>
    </div>


</div>



<div class="BigHomeImg">
    <img src="~/WebImage/vacuum-cleaner-near-team-of-colleagues cropped.jpg" height="715"  />
</div>


<section id="Services"><hr />
   
             <center><h2>Services We Offer</h2></center>

             <div class="Services-Container"> <!------------>


                 <div class="Service-Card"> <!--1-->

                     <div class="S-Card-Img-Box">
                         <img src="/WebImage/Wucka man cheerful-racial-woman-holding-window.jpg" <img />

                     </div>

                     <div class="S-Card-Txt">
                         <h6 style="color:blue">Regular Cleaning </h6>
                         <p>
                            We Offer a routine cleaning schedule which involves general maintenance tasks, including dusting, wiping, sweeping, mopping & restocking toiletries. 
                            This is typically offered on a daily, weekly, or bi-weekly basis.

                         </p>

                     </div>
                 </div>





                 <div class="Service-Card"> <!--2-->
                     <div class="S-Card-Img-Box">
                         <img src="/WebImage/vacuum-cleaner-near-team-of-colleagues cropped.jpg" <img />
                          
                     </div>

                     <div class="S-Card-Txt">
                         <h6 style="color:blue">Office Cleaning</h6>
                         <p>
                            Our office cleaning services focus on maintaining a clean and organized work environment for you and your employees. 
                         </p>

                     </div>

                 </div>


                 <div class="Service-Card"> <!--3-->
                     <div class="S-Card-Img-Box">
                         <img src="/WebImage/happy-interracial-team- 2.jpg" <img />

                     </div>

                     <div class="S-Card-Txt">
                         <h6 style="color:blue">Janitorial Services</h6>
                         <p>
                            
                            Our all inclusive janitorial services cover a range of cleaning and maintenance tasks for commercial and institutional spaces. 
                            Maintaining a sense cleanliness in shared spaces.

                         </p>

                     </div>

                 </div>






                 <div class="Service-Card"> <!--4-->

                     <div class="S-Card-Img-Box">
                         <img src="/WebImage/Residential cleaning Service.jpg" <img />

                     </div>

                     <div class="S-Card-Txt">
                         <h6 style="color:blue">Residential Cleaning</h6>
                         <p>
                            
                            We Also Offer Residential Cleaning Services Geared towards homeowners, 
                            We clean bedrooms, bathrooms, kitchens, living areas, and additional tasks based on client preferences.

                         </p>

                     </div>

                 </div>




             </div><!----------------------------------------------->



</section>


<section id="About"><hr />

     <center> <h2>About Us</h2> </center>

     <div class="About-info-Container">

		<div class="About-Pic-Container">
			<img src="/WebImage/happy-interracial-team- 2.jpg" <img />
		</div>
		

		<div class="AboutText-Container">
			
            <h3 style="color:blue">Wukka Man</h3>
            <p>
                <b>Welcome to WukkaMan Cleaning</b>
                <p>
                    
                    At WukkaMan, we are dedicated to providing top-notch cleaning services that go beyond the ordinary. 
                    With a commitment to excellence, our teams ensure that your spaces not only sparkle but also contribute 
                    to a healthier and more productive environment for you.
                </p>
                

                <b>Our mission</b>
                <p>
                    Our mission is to make cleanliness a seamless and hassle-free experience for our clients. 
                    Whether you're a homeowner, a business owner, or a property manager, WukkaMan Cleaning Agency is your trusted partner in maintaining pristine spaces. 
                    
                </p>
                



            </p>
		</div>

	</div><!-------------------------------------------------------------------->



</section>


